$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Yeseva One', serif;

$heading-color: #1c1107;
$font-color: #5f564e;
$secondary-color: #ebe8e0;
$accent-color: #d4af37;
$background-color: #fbfaf9;
$secondary-background-color: #f5f3ef;
$secondary-accent-color: #2f2b27;
$secondary-brown: #908e8c;