@import 'variables';

.header {
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  margin: auto;
  padding: 0.5rem 0;
  width: 100%;
  z-index: 1;

  div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 700px;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.7px;
    font-family: $primary-font-stack;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      font-size: 1.3rem;
      padding: 0 10px;
    }
  }
}